In [1]:
#Importing necessary packages and libraries
import pandas as pd
import numpy as np
from matplotlib import pyplot as py
# Requests lets us grab info from a web page
import requests

# BeautifulSoup parses and searches that info
from bs4 import BeautifulSoup

In [2]:
# Create a variable called URL
url = "https://athletics.whitman.edu/sports/mens-soccer/stats/2023"

# Use requests.get to grab the html
my_html = requests.get(url)

#Turn the html into soup using BeautifulSoup
soup = BeautifulSoup(my_html.text, 'html')

In [8]:
column_names = {"Player":[], "Minutes": []}
df = pd.DataFrame(column_names)

In [15]:
players = soup.find_all('a', class_= 'hide-on-medium-down')
minutes = soup.find_all('td', {"data-label": "MIN"}, class_='text-center')
for player, minute in zip(players, minutes):
    player_name = player.text.strip()
    minute_count = minute.text.strip()
    df.loc[len(df.index)] = [player_name, minute_count]
    print(f"Player Name: {player_name}")
    print(f"Minutes: {minute_count}\n")

Player Name: McAllister, Lucas
Minutes: 1112

Player Name: Gomez, Christian
Minutes: 1119

Player Name: Romero, Edwin
Minutes: 1216

Player Name: Valero, Sawyer
Minutes: 1068

Player Name: Burrill, Jacob
Minutes: 909

Player Name: Gonzalez, Jr., Pablo
Minutes: 1498

Player Name: Stonier, Zachary
Minutes: 882

Player Name: Perez-Cuellar, Erick
Minutes: 1258

Player Name: Kobayashi, Riki
Minutes: 580

Player Name: Taylor, Noa
Minutes: 261

Player Name: Lopez-Vega, Fernando
Minutes: 335

Player Name: Dickson, Oliver
Minutes: 604

Player Name: Hennes, McCoy
Minutes: 1691

Player Name: Clum-Stockton, Jude
Minutes: 1097

Player Name: Tobar, Jossue
Minutes: 559

Player Name: Bamusiima-Muwanguzi, Mark
Minutes: 52

Player Name: Bule, Lucas
Minutes: 432

Player Name: Gantt, Eric
Minutes: 801

Player Name: Gonzalez, Jr., Pablo
Minutes: 81

Player Name: Guenther, Aiden
Minutes: 1015

Player Name: Haigh, Lucas
Minutes: 244

Player Name: Hikida, Takahiro
Minutes: 276

Player Name: Jones, Bernie
Minutes: 1556

Player Name: Negrete, Mario
Minutes: 229

Player Name: Perez Hernandez, Alexander
Minutes: 9

Player Name: Perez Hernandez, Alexander
Minutes: 344

Player Name: Pierce, Henry
Minutes: 108

Player Name: Tran, Michael Lee
Minutes: 54

Player Name: Yap, Mikio
Minutes: 386

Player Name: Haigh, Lucas
Minutes: 19776

Player Name: Jones, Bernie
Minutes: 19800

Player Name: McAllister, Lucas
Minutes: 244:13

Player Name: Gomez, Christian
Minutes: 1555:47

Player Name: Burrill, Jacob
Minutes: 1800:00

Player Name: Romero, Edwin
Minutes: 1800:00

Player Name: Valero, Sawyer
Minutes: 1010

Player Name: Stonier, Zachary
Minutes: 946

Player Name: Gonzalez, Jr., Pablo
Minutes: 758

Player Name: Kobayashi, Riki
Minutes: 976

Player Name: Lopez-Vega, Fernando
Minutes: 818

Player Name: Perez-Cuellar, Erick
Minutes: 703

Player Name: Dickson, Oliver
Minutes: 1155

Player Name: Hennes, McCoy
Minutes: 398

Player Name: Clum-Stockton, Jude
Minutes: 310

Player Name: Taylor, Noa
Minutes: 993

Player Name: Tobar, Jossue
Minutes: 604

Player Name: Bamusiima-Muwanguzi, Mark
Minutes: 1433

Player Name: Bule, Lucas
Minutes: 843

Player Name: Gantt, Eric
Minutes: 117

Player Name: Gonzalez, Jr., Pablo
Minutes: 401

Player Name: Guenther, Aiden
Minutes: 52

Player Name: Haigh, Lucas
Minutes: 380

Player Name: Hikida, Takahiro
Minutes: 683

Player Name: Jones, Bernie
Minutes: 81

Player Name: Negrete, Mario
Minutes: 784

Player Name: Perez Hernandez, Alexander
Minutes: 154

Player Name: Perez Hernandez, Alexander
Minutes: 177

Player Name: Pierce, Henry
Minutes: 1286

Player Name: Tran, Michael Lee
Minutes: 65

Player Name: Yap, Mikio
Minutes: 9

Player Name: Haigh, Lucas
Minutes: 255

Player Name: Jones, Bernie
Minutes: 108

In [17]:
df.head()

                 Player Minutes
0     McAllister, Lucas    1112
1      Gomez, Christian    1119
2         Romero, Edwin    1216
3        Valero, Sawyer    1068
4        Burrill, Jacob     909
5  Gonzalez, Jr., Pablo    1498
6      Stonier, Zachary     882
7  Perez-Cuellar, Erick    1258
8       Kobayashi, Riki     580
9           Taylor, Noa     261

In [18]:
df2 = df[:29]

In [19]:
df2

                        Player Minutes
0            McAllister, Lucas    1112
1             Gomez, Christian    1119
2                Romero, Edwin    1216
3               Valero, Sawyer    1068
4               Burrill, Jacob     909
5         Gonzalez, Jr., Pablo    1498
6             Stonier, Zachary     882
7         Perez-Cuellar, Erick    1258
8              Kobayashi, Riki     580
9                  Taylor, Noa     261
10        Lopez-Vega, Fernando     335
11             Dickson, Oliver     604
12               Hennes, McCoy    1691
13         Clum-Stockton, Jude    1097
14               Tobar, Jossue     559
15   Bamusiima-Muwanguzi, Mark      52
16                 Bule, Lucas     432
17                 Gantt, Eric     801
18        Gonzalez, Jr., Pablo      81
19             Guenther, Aiden    1015
20                Haigh, Lucas     244
21            Hikida, Takahiro     276
22               Jones, Bernie    1556
23              Negrete, Mario     229
24  Perez Hernandez, Alexander       9
25  Perez Hernandez, Alexander     344
26               Pierce, Henry     108
27           Tran, Michael Lee      54
28                  Yap, Mikio     386